services:
  db:
    image: postgres:16

    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo_password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    restart: unless-stopped

  odoo:
    build: .
    image: odoo-custom:18.0
    depends_on:
      - db
    ports:
      - "8069:8069"
      - "8072:8072"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo_password
      - PYTHONUNBUFFERED=1
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
      - ./logs:/var/log/odoo
    restart: unless-stopped
    command: bash -c "odoo --config=/etc/odoo/odoo.conf 2>&1 | tee -a /var/log/odoo/odoo.log"
    develop:
      watch:
        - action: rebuild
          path: ./addons
          target: /mnt/extra-addons
        - action: rebuild
          path: ./config
          target: /etc/odoo
        - action: sync
          path: ./logs
          target: /var/log/odoo
        - action: rebuild
          path: requirements.txt

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - odoo
    restart: unless-stopped

volumes:
  odoo-web-data:
  odoo-db-data:
